.select {
  /* This will create a positioning context for the list of options */
  position: relative;
  display : inline-block;

  &.active ,&:focus{
    outline: none;
    box-shadow: 0 0 3px 1px #227755;
  }
 
  .optList {
    position: absolute;
    top:100%;
    left:0;

    &.hidden {
      max-height: 0;
      visibility: hidden;
    }

  }

}
