.container * {
	border: 1px solid #ccc;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.container {
	padding: 20px;
	height: 300px;
	width: 1000px;
}

.container div {
	height: 100%;
	width: 100%;
}

.container div * {
	height: 80%;
	width: 40%;
	background-color: #fff;
}

div .chosen {
	background-color: blue;
}